<h1>Dashboard#index</h1>
<p> WELCOME TO SPOTIFYS, <%= current_user.name %> </p>
<p> E-mail <%= current_user.email %> </p>
<%= image_tag current_user.image_path %>


Test slider
<form>
<input
    type="range"
    min="10"                    // default 0
    max="100"                  // default 100
    step="1"                   // default 1
>
<br />
<input
    type="range"
    min="10"                    // default 0
    max="100"                  // default 100
    step="1"                   // default 1
>
<input type='submit' value='submit' />
</form>


<h3>Top 20 artists</h3>
<% @top_artists.each_with_index do |artist, index| %>
<tr>
  <% num = index + 1 %>
   <td class=top_artist id=top_artist_<%= num %>><%= num %> : <%= artist.name %></td>
   <br />
</tr>
<% end %>

<h3>Top 20 tracks</h3>
<% @top_tracks.each_with_index do |track, index| %>
<tr>
  <% num = index + 1 %>
   <td class=top_track id=top_track_<%= num %>><%= num %> : <%= track.name %></td>
   <br />
</tr>
<% end %>

<%= link_to "Create Playlists", create_playlist_path %>
