<!DOCTYPE html>
<html>
  <head>
    <title> Spotify Playlist Generator </title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style="font-family:Verdana;color:black;">
    <div style="background-color:#1db954;padding:15px;text-align:center;">
      <h1> Spotify playlist generator </h1>
    </div>

    <div style="overflow:auto">
      <div class="menu">
        <div class="menuitem"><%= link_to "Home", dashboard_index_path, class: "link_text" %></div>
        <div class="menuitem"><%= link_to "Create Playlist", create_playlist_path, class: "link_text" %></div>
        <% if current_user %>
        <div class="menuitem"><%= link_to "Logout", user_logout_path, class: "link_text" %></div>
        <% end %>
        <div class="menuitem"><%= link_to "Search Spotify", new_search_path, class: "link_text" %></div>
        <div class="menuitem"><%= link_to "Top 20 Artists", top_artists_path, class: "link_text" %></div>
        <div class="menuitem"><%= link_to "Top 20 Tracks", top_tracks_path, class: "link_text" %></div>
      </div>

      <div class="main">
        <% flash.each do |type, message| %>
          <%= content_tag :div, sanitize(message),  class: type %>
        <% end %>
            <%= yield %>
      </div>

      <div class="right">
        <h2>Current Seeds</h2>
        <% if seeds && seeds.first %>
          <% seeds.uniq.each_with_index do |result, index| %>
          <tr>
            <% num = index + 1 %>
             <td><%= "#{num}) #{result["type"]} - #{result["name"]}" %>
               <%= button_to 'Remove', remove_seed_path, params: { :index => index }, class: "link_text"%>
             </td>
             <br />
          </tr>
          <% end %>
        <% end %>
      </div>
    </div>
    <div style="background-color:#1db954;text-align:center;padding:10px;margin-top:7px;"> footer </div>
  </body>
</html>
